
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    font-size: 125%;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1280px;
}
a {
    text-decoration:none;
}

/* remove default padding */

h1,
h2,
section {
    padding: 0;
    margin: 0;
}
/* #281565 - Midnight Blue */
/* #B1D5Ef - Pale SUnflower Blue */
/* #7D6EF5 - Medium slate blue*/

header {
    min-height: 20vh;
    position:fixed;
    width:100%;
    background-color: #B1D5Ef;
    z-index: 200;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.51);
}

main{
    height: 90vh;
    padding-top: 20vh;
    background-image: linear-gradient(90deg, rgba(40, 21, 101, 0.49957981483609073) 20%, rgba(125, 110, 245, 0.475210066936931) 70%, rgba(177, 213, 239, 0.4387955011106005) 100%),
    url('./assets/food-salad-restaurant-person.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    text-align:center;
}

/* LOGIN STYLES */
.mainLogin {
    height: 100vh;
    width: 100%;
    overflow:hidden;
    background-image: linear-gradient(90deg, rgba(40, 21, 101, 0.49957981483609073) 20%, rgba(125, 110, 245, 0.475210066936931) 70%, rgba(177, 213, 239, 0.4387955011106005) 100%),
    url('./assets/pexels-photo-1267320.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
}

.loginForm {
    text-align:center;
    width:40%;
    height: 40vh;
    border: black 4px solid;
    margin: 0 auto;
    margin-top: 30vh;
    padding: 2rem;
    background-color: rgba(40, 21, 101, 0.89957981483609073);
    
}
.loginForm label{
    width: 100%;
    text-align:center;
    font-size: 20px;
    color:white;
}
/* login page styles */

.mainLogin{
    background-image: linear-gradient(90deg, rgba(40, 21, 101, 0.49957981483609073) 20%, rgba(125, 110, 245, 0.475210066936931) 70%, rgba(177, 213, 239, 0.4387955011106005) 100%), url('./assets/sabri-tuzcu-182962-unsplash.jpg');
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
    overflow:hidden;
}
.listNameLabel{
    color:white;
    font-size: 30px;
    width: 100%;
    text-align:center;
}
.loginForm{
    padding:60px;
    text-align:center;
    width:40%;
    height: 40vh;
    border: black 4px solid;
    margin: 0 auto;
    margin-top: 30vh;
    background-color: rgba(40, 21, 101, 0.89957981483609073);
}
.loginForm a{
    text-decoration:none;
    color:white;
    padding: 12px 16px;
    background: #7D6EF5;
    border-radius: 10px;
    margin-left:10px;
    padding: 10px 25px 10px 25px;
    width:100%;  
    text-align:center;
    margin-top: 1rem; 
}
.loginForm input{
    padding: 10px 25px 10px 10px;
    border: none;
    border-radius: 10px;
    width: 80%;
    display:block;
    margin: 20px auto;
    text-align:center;
    border-bottom:white 2px solid;
}


/* LINKS */
.myListLinkMain,
.mainSearchLink,
.formSubmitLink {
    text-decoration: none;
    color: black;
    background-color: #7D6EF5;
    margin: 20px 0 0 5px;
    padding: 1rem;
    float: right;
    position:relative;
    transition: .1s all linear;
      
}

.myListLinkMain:hover,
.myListLinkMain:focus,
.mainSearchLink:hover,
.mainSearchLink:focus,
.formSubmitLink:hover,
.formSubmitLink:focus {
    background-color:white;
    color:black;
}

/* SEARCH FORM STYLES */
fieldset {
    border:none;
}

fieldset label {
    margin-left: 10px;
}

fieldset input {
    padding: 10px;
}

button[type='submit'] {
    background:transparent;
    margin-top:10px;
    padding: 5px;   
    border:none;
    background-color:#281565;
    color:white;
}

#locationSearch,
#mainSearchBar {
    background:transparent;
    border:none;    
    border-bottom: 2px solid #281565;

}

#locationSearch:hover,
#locationSearch:focus,
#mainSearchBar:hover,
#mainSearchBar:focus {
    
}

.locationFilter,
.ratingFilter,
.priceFilter,
.keywordSearch{
    width:100%;

}

.searchBarLeft,
.searchBarRight {
    float:left;
    width:50%;
    text-align:center;
}


/* CARDS */
li {
    width:30%;
    max-height:550px;
    min-height: 550px;
    list-style:none;
    float:left;
    margin: 10px;
    padding:10px;
    text-align:center; 
    background-color:#7D6EF5;
    box-shadow: 0px 0px 5px 5px rgba(177, 213, 239, 0.3);
}

.itemInfoContainer h2 {
    font-size: 20px;
}

.itemCardImage {
    display:block;
    width:100%;
    max-height: 250px;
    min-height: 250px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);

}

.logoContainer {
    height: 100px;
    width:51%;
    margin:0 auto;
}
.logo {
    height: 100%;
    width:100%;
}

.mainContainer {
    position: relative;
}

.galleryGrid {
    margin:0 auto;
    background-color:#281565;
    padding-left: 5%;
}

/* ITEM DETAILS AND DETAILS MODAL STYLING */

.itemDetailsContainer {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

}

.itemModal {
    position: fixed;
    background-color:#B1D5Ef;
    width: 60%;
    text-align: center;
    margin: 15% 20%;
    z-index: 100;
    padding: 1rem;
    max-height: 50vh;
}

.itemDetailsImageContainer {
    height: 46vh;
    width:50%;
    float:right;
}
.itemDetailsImageContainer img {
    width: 100%;
    float:left;
    height:100% ;
}

.modalInfoContainer {
    width: 50%;
}

.closeModal {
    background-color:black;
    color:white;
    border-radius: 50%;
    position:relative;
    right:0;
}



.backgroundBlur {
    opacity: .6;
    height: 100vh;
    width: 100vw;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#B1D5Ef;
    
    
}

/* MYLIST PAGE STYLES*/

.myListHeader h2{
    width: 50%;
}

.myListMain {
    background-color:#281565;
    height: 100vh;
    padding-top:2rem;
}

.myListDetailCard img{
    width: 100%;
}

.randomSelectionContainer {
    padding-top: 20px;
}

.myListMainHeader {
    margin-bottom: 100px;
}

/* FOOTER STYLES */

footer {
    clear:both;
    text-align:center;
    padding:1px;
    width: 100%;
    height:10vh;
    background-color:#7D6EF5;
    height: 10vh;
    margin: 0;

}